{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
    <section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">

				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="wrap">
						<div class="login-wrap p-4 p-md-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h1>{% trans "Sign Out" %}</h1>
			      		</div>
			      	</div>
                    <div class="d-flex">
			      		<div class="w-100">
                            <p>{% trans 'Are you sure you want to sign out?' %}</p>
                        </div>
			      	</div>
							<form method="POST" action="{% url 'account_logout' %}" class="signin-form">
                                    <div class="form-group mt-4">
                                        {% csrf_token %}
                                        {% if redirect_field_value %}
                                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                                        {% endif %}
                                      <button type="submit" class="form-control btn btn-primary rounded submit px-3">{% trans 'Sign Out' %}</button>
                                    </div>
                          </form>
		             </div>
                    </div>
				</div>
			</div>
		</div>
	</section>





{% endblock %}
