{% extends "booking/base.html" %}
{% load static %}
{% block content %}
    <div class="wrapper" style="background-image: url('{% static 'images/bg_reg_form.jpg' %}')">
			<div class="inners">
				<div class="image-holder">
					<img src={% static 'images/registration-form-1.jpg' %} alt="">
				</div>
				<form name="sign-up-form" method="POST">
                    {% csrf_token %}
					<h3>Registration Form</h3>
                    {% for f in form %}
                        {{ f }}
                        <span class="row-form-errors">{{ f.errors }}</span>
                    {% endfor %}
                    <span>Already have an account?</span>
                    <a href="{% url 'login' %}">Log in</a>
					<button>Register
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
				</form>
			</div>
		</div>
</form>

{% endblock %}