{% extends "booking/base.html" %}
{% block content %}
    <header class="w3-display-container w3-content" style="max-width:1500px;">
		<img class="w3-image" src="{{ pic }}" alt="The Hotel" style="min-width:1000px" width="1500" height="800">
		<div class="w3-display-left w3-padding w3-col l6 m8">
			<div class="w3-container w3-blue">
				<h2><i class="fa fa-cutlery w3-margin-right"></i>Make a reservation</h2>
			</div>
			<div class="w3-container w3-white w3-padding-16">
				<form action="{% url 'edit_reservation' id %}" method="post">
                    {% csrf_token %}
					<div class="w3-row-padding" style="margin:0 -16px;">
                        {% if decline %}
                        <h2>{{decline}}</h2>
                        <h2>Available number of seats for this hour{{available}}</h2>
						{% endif %}
                        <div class="w3-half w3-margin-bottom">
							<label><i class="fa fa-calendar w3-text-blue"></i> Date</label>
							<input class="w3-input w3-border" type="date" placeholder="" id="date-r" name="date" required>
						</div>
						<div class="w3-half">
							<label><i class="fa fa-clock-o w3-text-blue"></i> Time</label>
							<input class="w3-input w3-border" type="time" placeholder="" id="time-r" name="time" required>
						</div>
					</div>
					<div class="w3-row-padding" style="margin:8px -8px;">
						<div>
							<label><i class="fa fa-user w3-text-blue"></i> Party size</label>
							<input class="w3-input w3-border" type="number" value="0" name="size" min="0" max="60" required>
						</div>
					</div>
					<button class="w3-button w3-dark-grey mt-2" type="submit"><i class="fa fa-search w3-margin-right"></i> Reserve</button>
				</form>
			</div>
		</div>
	</header>
    <!-- Page content -->
	<div class="w3-content" style="max-width:1532px;">

		<div class="w3-container w3-margin-top container" id="rooms">
			<h3>{{name}}</h3>
			<p>In this page you can see any information related to the "{{name}}" restaurant.</p>
		</div>
    </div>
{% endblock %}