<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Table Reservation at {{ name }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</head>
<body class="">
	<!-- Navigation Bar -->
	<div class="w3-bar w3-white w3-large">
		<a href="{% url 'home'  %}" class="w3-bar-item w3-button w3-blue w3-mobile"><i class="fa fa-cutlery w3-margin-right"></i>REST</a>
		<a href="#contact" class="w3-bar-item w3-button w3-right w3-light-grey w3-mobile">Book Now</a>
	</div>
	<div class="container w-75 mt-5">
		<div class="row">
			<div class="col-7">
				<h5>You are almost done!</h5>
				<h2>{{restaurant.name}}</h2>
				<div class="d-flex flex-wrap">
					<div><i class="fa fa-calendar w3-text-blue"></i> {{date}}</div>
					<div class="mx-4"><i class="fa fa-clock-o w3-text-blue"></i> {{time}}</div>
					<div>
						<i class="fa fa-user w3-text-blue"></i>
						{{size}}
						{% if size > 1 %}
						people
						{% else %}
						person
						{% endif%}
					</div>
				</div>
				<br><br>
				<h6>Details:</h6>
				<form method="post" action="">
                    {% csrf_token %}
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="inputfName4">First name</label>
							<input name="firstname" type="text" class="form-control" id="inputfName4" placeholder="First name" required>
						</div>
						<div class="form-group col-md-6">
							<label for="inputsName4">Last name</label>
							<input name="surname" type="text" class="form-control" id="inputsName4" placeholder="Last name" required>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="inputPhone">Phone number</label>
							<input name="phone" type="number" class="form-control" id="inputPhone" placeholder="Phone number" required>
						</div>
						<div class="form-group col-md-6">
							<label for="inputEmail">Email</label>
							<input name="email"  type="email" class="form-control" id="inputEmail" placeholder="Email" required>
						</div>
					</div>
					<div class="form-group">
						<label for="inputRequest">Special request</label>
						<input name="specialRequest" type="text" class="form-control" id="inputRequest" placeholder="Add a special request (optional)">
					</div>
					<div class="form-group">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="customCheck1">
							<label class="custom-control-label" for="customCheck1">Yes, I want to get text updates and reminders about my reservations.</label>
						</div>
					</div>
					<button type="submit" class="btn btn-primary w-100" >Complete reservation</button>
				</form>
				<br>
				<p class="text-muted">By clicking “Complete reservation” you agree to the Terms of Use and Privacy Policy. Standard text message rates may apply. You may opt out of receiving text messages at any time.</p>

			</div>
			<div class="col-5">
				<p>What to know before you go</p>
				<small><strong>A note from the restaurant</strong></small><br>
				<small>Thank you for your interest in Restaurant Verde - Four Seasons Resort Dubai at Jumeirah Beach. Please note, the Kitchen closes at 11:30 PM on Sunday to Tuesday, and at 12:30 AM on Wednesday to Saturday. We kindly inform you that we have a 2 hours sitting policy. In case of lateness more than 15 minutes we will have to cancel your reservation. Best regards and we are looking forward to welcome you at Verde Dubai.

				</small>
			</div>
		</div>
	</div>

</body>
</html>