{% extends "booking/base.html" %}
{% load static %}
{% block content %}

<!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2><i class="fa fa-cutlery w3-margin-right"></i>
          Book A Table
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form action="{% url 'table-reserve' idd %}" method="POST">
                {% csrf_token %}
                {% if decline %}
                    <h2>{{decline}}</h2>
                    <h2>Available number of seats for this hour{{available}}</h2>
                {% endif %}
              <div>
                <input type="text" class="form-control" placeholder="Your Name" name="firstname"/>
              </div>
              <div>
                <input type="text" class="form-control" placeholder="Your Last name" name="surname"/>
              </div>
              <div>
                <input type="text" class="form-control" placeholder="Phone Number" name="phone"/>
              </div>
              <div>
                <input type="email" class="form-control" placeholder="Your Email" name="email"/>
              </div>
              <div>
                <input placeholder="Party size" class="form-control" type="number" name="size" min="0" max="60" required>
              </div>
              <div>
                <input type="date" class="form-control" name="date" required>
              </div>
                <div>
                    <input placeholder="Time..." type="time" class="form-control" name="time" required>
                </div>
                <div>
                    <input placeholder="Special Request..." type="text" class="form-control" name="specialRequest" required>
                </div>
              <div class="btn_box">
                <button type="submit">
                  Book Now
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container ">
            <div id="googleMap">
                ss
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
  <!-- end book section -->

	<!-- Page content -->
    <!-- food section -->

  <section class="food_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Menu
        </h2>
      </div>

      <ul class="filters_menu">
        <li class="active" data-filter="*">All</li>
        <li data-filter=".burger">Burger</li>
        <li data-filter=".pizza">Pizza</li>
        <li data-filter=".pasta">Pasta</li>
        <li data-filter=".fries">Fries</li>
      </ul>

      <div class="filters-content">
        <div class="row grid">
            {% for m in menu %}
                <h4></h4>
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{{ m.photo }}" alt="Photo of the food">
                </div>
                <div class="detail-box">
                  <h5>
                    {{ m.name }}
                  </h5>
                  <p>
                    {{ m.description }}
                  </p>
                  <div class="options">
                    <h6>
                      {{ m.price }} ₸
                    </h6>
{#                    <a href="">#}
{##}
{#                    </a>#}
                  </div>
                </div>
              </div>
            </div>
          </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </section>
{#   End food section #}

{% endblock %}